@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header Section */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.hamburger{
  display: none;
}

.top p {
  font-size: 11px;
  font-weight: 600;
}

.btn-style {
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-size: 11px;
  border: none;
  outline: line;
  background-color: rgb(23, 23, 23);
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
}

.nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 15px;
}

.nav ul li{
  cursor: pointer;
}

.cart {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #222;
}

.cart-no{
  font-weight: 600;
}

.logo-image{
  width: 120px;
  cursor: pointer;
}

/* Main Section  */

.hero {
  margin-top: 10px;
}

.hero img {
  width: 100%;
  border-radius: 20px;
}

.discount-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin: 40px auto;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  padding: 20px;
  gap: 10px;
  overflow: hidden;
}

.sale-text {
  color: #5a67d8;
  font-size: 13px;
  font-weight: bold;
}

.offer-text {
  font-size: 17px;
  font-weight: bold;
  margin-top: 8px;
}

.cta {
  display: inline-block;
  margin-top: 10px;
  text-decoration: underline;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.card-image img {
  height: 140px;
  width: 100%;
  object-fit: contain;
}

.fheading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  margin: 40px auto;
}

.fcard {
  border: 1px solid rgb(201, 201, 201);
  padding: 25px;
  border-radius: 13px;
}

.fcard p {
  font-size: 13px;
  margin-top: 15px;
}

.benefits-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.benefit-card span {
  font-size: 20px;
  color: #3498db;
  font-weight: bold;
}

.benefit-card h3 {
  font-size: 17px;
  color: #333;
}

.benefit-card p {
  font-size: 13px;
  color: #666;
}

.center-visual {
  width: 40%;
}

.center-visual img {
  width: 100%;
  height: auto;
}

.explore-heading {
  text-align: center;
  margin: 30px 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* template styles  */
.product-card {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.01);
}

.product-category {
  background: #e0e0e0;
  color: #333;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
}

.product-image {
  width: 100%;
  height: 190px;
  object-fit: contain;
  margin: 15px 0;
}

.product-title {
  font-size: 19px;
  font-weight: bold;
  margin: 5px 0;
}

.product-rating {
  color: #ffd700;
  font-size: 12px;
  margin-bottom: 10px;
}

.product-description {
  font-size: 13px;
  color: #666;
  margin: 8px 0;
  text-align: left;
}

.product-price {
  font-size: 17px;
  margin: 10px 0;
}

.current-price {
  font-weight: bold;
  color: #28a745;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 5px;
}

.quantity-selector {
  text-align: left;
  margin: 12px 0;
  font-size: 13px;
}

.qty-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 5px;
}

.qty-btn {
  background: #ddd;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.qty-btn:hover {
  background: #bbb;
}

.quantity-count {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  color: #333;
}

.add-to-cart {
  background: #222;
  color: #fff;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.add-to-cart:hover {
  background: #444;
}

/* footer */
.site-footer {
  background: #222;
  color: #fff;
  padding: 40px 0 0 0;
  text-align: center;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-column {
  width: 200px;
  margin-bottom: 20px;
  text-align: left;
}

.footer-column h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-column h4 {
  font-size: 17px;
  margin-bottom: 10px;
  border-bottom: 2px solid #3498db;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-column p,
.footer-column ul {
  font-size: 12px;
  color: #ccc;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 5px 0;
}

.footer-column ul li a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  color: #3498db;
}

.social-links a {
  font-size: 20px;
  color: #bbb;
  margin-right: 10px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #3498db;
}

.footer-bottom {
  margin-top: 20px;
  padding: 26px 0;
  border-top: 1px solid #444;
}

/* Cart page styles  */

.showCartContainer {
  padding: 25px 0;
}
.cartTotal {
  display: flex;
  justify-content: right;
  margin-top: 40px;
}
.totalAmount {
  border: 1px solid grey;
  border-radius: 10px;
  width: 250px;
  padding: 15px;
}
.totalAmount > p {
  margin-bottom: 20px;
  font-weight: 600;
}
.total-div {
  display: flex;
  justify-content: space-between;
}

.cartProductCard {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}
.cartProductBadge {
  color: #6f7785;
  padding: 4px 12px;
  font-size: 14px;
}
.cartProductImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.cartProductTitle, .cartProductPrice{
  font-weight: 600;
}
.cartProductQuantityControls {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cartProductQuantityControls button {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.cartProductRemoveButton {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}


/* Toast style  */
.toast {
  position: fixed;
  min-width: 250px;
  background-color: #222222;
  color: #fff;
  text-align: center;
  padding: 12px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: -50%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: all 0.8s ease-in-out;
}

.toast.show {
  top: 5%;
}

